html, body
  @include size(100%,100%)
  background-color: _palette(general,bg)

//CONTAINERS//
.flex-center-center-wrap
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

.flex-center-start-wrap
  display: flex
  justify-content: center
  align-items: flex-start
  flex-wrap: wrap

.flex-center-center
  display: flex
  justify-content: center
  align-items: center
